*{
  font-family: "open sans",sans-seif;
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  width:100vw;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: rgb(196, 196, 224);
}
currency-converter{
  width:400px;
  background-color: rgb(221, 20, 20);
  border-radius: 8px;
  padding:10px 20px;
  box-shadow:0 0 10ps rgba(0, 0, 0, 0.1)
}
h1{
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  padding:10px 0px;
  margin-bottom: 15px;
  color: rgb(128, 58, 0);
  text-align: center;
  border-bottom: 2px dashed#ccc;
  border-top: 2px dashed#ccc;
}
box{
  width:100%;
  height: 200px;
  background-image: "https://www.google.com/imgres?q=money%20images&imgurl=https%3A%2F%2Fimg.freepik.com%2Ffree-vector%2Fhand-drawn-cartoon-dollar-sign-illustration_23-2150927138.jpg&imgrefurl=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fmoney&docid=wJKsiLWqK67zHM&tbnid=X63Igi0LjP032M&vet=12ahUKEwjH0efd7Z6KAxV23TgGHQzJOxMQM3oECFIQAA..i&w=626&h=626&hcb=2&ved=2ahUKEwjH0efd7Z6KAxV23TgGHQzJOxMQM3oECFIQAA";
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.input container{
  margin-bottom: 15px;
} 
label{
  display: block;
  margin-bottom: 5px;
  color: rgb(136, 136, 136);
  font-weight: 500px;
}
input,
select{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solidrgb(204, 204, 204);
  border-radius: 4px;
  font-size: 18px;
  outline: none;
}
.result{
  margin: 20px 0px;
  padding: 10px;
  border: 2px dotted#db343c;
  border-radius: 4px;
}
.result p{
  margin: 10px 0;
  color: #3498db;
  font-weight: bold;
  text-align: center;
}