*{
  font-family: "open sans",sans-seif;
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  width:100%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

h1{
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  padding:10px 0px;
  margin-bottom: 15px;
  color: rgb(128, 58, 0);
  text-align: center;
 
}
.box{
  width:100%;
  height: 200px;
 
}
.input-container{
  margin-bottom: 15px;
} 
.main-container{
  border: 2px solid;
  padding: 10px 50px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://ik.imagekit.io/snujhhriv/dollar_1308-41924.avif?updatedAt=1734497947158");
}
label{
  display: block;
  margin-bottom: 5px;
  color: rgb(136, 136, 136);
  font-weight: 500px;
}
input,
select{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solidrgb(204, 204, 204);
  border-radius: 4px;
  font-size: 18px;
  outline: none;
}
.result{
  margin: 20px 0px;
  padding: 10px;
  border: 2px solid black;
  background-color: white;
  border-radius: 4px;
}
.result p{
  margin: 10px 0;
  color:black;
  font-weight: bold;
  text-align: center;
}